@font-face {
    font-family: 'MedievalSharp';
    src: url(./MedievalSharp-Regular.woff2);
}

@font-face {
    font-family: 'CinzelDecorative';
    src: url('./CinzelDecorative-Regular.woff2');
}

:root {
  --smoky-black: #110d07ff;
  --licorice: #221707ff;
  --dark-goldenrod: #b18443ff;
  --earth-yellow: #ddae6fff;
  --prime: 'MedievalSharp';
  --body: 'CinzelDecorative';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
